.container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  background-color: #bcd3f4;
  padding: 5px;
  gap: 5px;  
}

.container div {
  background-color: #F8F3EA;
  color:#000;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.item1 {grid-area: header;}
.item2 {grid-area: menu;}
.item3 {grid-area: main;}
.item4 {grid-area: right;}
.item5 {grid-area: footer;}