.bold-text {
  font-weight: bold;
}

body {
  background-color: #337def;
}

h1 {
  color: #fcc729;
  margin-left: 20px;
  text-align: center;
  font-size: 40px;
}

body {
  color: #fcc729;
  font-size: 18px;

}