body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h1 {
  text-align: center;
}

h1 {
  text-shadow: 2px 2px;
}

h1 {
  text-shadow: 2px 2px rgb(0, 0, 0);
}